<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Projet_JEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveStage</display-name>
    <servlet-name>SaveStage</servlet-name>
    <servlet-class>Metier.SaveStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveStage</servlet-name>
    <url-pattern>/SaveStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getStage</display-name>
    <servlet-name>getStage</servlet-name>
    <servlet-class>Metier.getStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStage</servlet-name>
    <url-pattern>/getStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getstagiaire</display-name>
    <servlet-name>getstagiaire</servlet-name>
    <servlet-class>Metier.getstagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getstagiaire</servlet-name>
    <url-pattern>/getstagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStagiaire</display-name>
    <servlet-name>deleteStagiaire</servlet-name>
    <servlet-class>Metier.deleteStagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStagiaire</servlet-name>
    <url-pattern>/deleteStagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStage</display-name>
    <servlet-name>DeleteStage</servlet-name>
    <servlet-class>Metier.DeleteStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStage</servlet-name>
    <url-pattern>/DeleteStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCompte</display-name>
    <servlet-name>deleteCompte</servlet-name>
    <servlet-class>Metier.deleteCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCompte</servlet-name>
    <url-pattern>/deleteCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chooseLoging</display-name>
    <servlet-name>chooseLoging</servlet-name>
    <servlet-class>Metier.chooseLoging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseLoging</servlet-name>
    <url-pattern>/chooseLoging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoStagiaire</display-name>
    <servlet-name>InfoStagiaire</servlet-name>
    <servlet-class>Metier.InfoStagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoStagiaire</servlet-name>
    <url-pattern>/InfoStagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Infos</display-name>
    <servlet-name>Infos</servlet-name>
    <servlet-class>Metier.Infos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Infos</servlet-name>
    <url-pattern>/Infos</url-pattern>
  </servlet-mapping>
</web-app>